<link rel="stylesheet" type="text/css" href="/assets/css/addstudent.css">
<form id="createStudentForm" action="/students/create" method="post">
    <input type="text" name="name" placeholder="Student name" class="form-control" required />
    <input type="email" name="email" placeholder="Student email" class="form-control" required />
    <input type="text" name="batch" placeholder="Batch" class="form-control" required />
    <input type="text" name="college" placeholder="College" class="form-control" required />
    <input id="addStudentButton" class="btn btn-primary" type="submit" value="Submit" />
</form>