<link rel="stylesheet" type="text/css" href="/assets/css/externalJobList.css">
<div id="container">
    <div id="interview-list-container">
        <div id="headerLabelContainer" class="row">
            <div class="col-6">
                Position
            </div>
            <div class="col-6">
                Company
            </div>
        </div>
        <ul id="jobsResultsView" style="list-style-type:
    none;  padding: 0px; margin-bottom: 0px;">
            <% for(job of jobs){ %>
<li>
    <div class="row dataContainer" style="margin:10px">
        <div class="col-6">
           <a href="  <%= job.link %>"> <%= job.title %>  </a>
        </div>
        <div class="col-6">
            <%= job.company %>
        </div>
    </div>
</li>        
        <%} %>
    </ul>
</div>
</div> 