<link rel="stylesheet" type="text/css" href="/assets/css/home.css">

<div id="headerContainer">
    <h1>Welcome to Placement Cell</h1>
    <div id="buttonContainer">
        <button type="button" class="btn btn-warning" onclick="window.location.href = '/users/login';">LOGIN<i
                class="fa-solid fa-right-to-bracket"></i></button>
        <button type="button" class="btn btn-success" onclick="window.location.href = '/users/signup';">REGISTER<i
                class="fa-solid fa-user-plus"></i></button>
    </div>
</div>