<link rel="stylesheet" type="text/css" href="/assets/css/interview-list.css">

<div id="container">
    <button id="addInterviewButton" class="btn btn-primary"
        onclick="window.location.href = '/interviews/addInterview';">Add
        Interview</button>
    <% if(interviews){ %>
    <div id="interview-list-container">
        <div id="headerLabelContainer" class="row">
            <div class="col-6">
                Company Name
            </div>
            <div class="col-6">
                Interview Date and time
            </div>
        </div>
        <ul id="interviewResultsView" style="list-style-type:
    none;  padding: 0px; margin-bottom: 0px;">
            <% for(interview of interviews){ %>
<li>
    <div class="row dataContainer" style="margin:10px">
        <div class="col-6">
            <a id="<%= interview._id %>" href="/interviews/<%= interview._id %>">
                 <%= interview.companyName %>
            </a>     
        </div>
        <div class="col-6">
            <%= interview.interviewDate %>
        </div>
    </div>
</li>        
        <%} %>
    </ul>
</div>
<%} %>
</div> 