<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
<div id="loginFormContainer">
    <form id="loginForm" method="post" action="/users/createSession">
        <h2>Login</h2>
        <input type="email" name="email" id="emailTextBox" placeholder="Enter email" class="form-control" required />
        <input type="password" name="password" id="passwordTextBox" placeholder="Enter password" class="form-control" required />
        <button id="loginButton" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="/assets/js/login.js" type='text/javascript'></script>