<link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
<form id="signUpForm" action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter your name" class="form-control" required />
    <input type="email" name="email" placeholder="Enter your email" class="form-control" required />
    <input type="password" name="password" placeholder="Enter your password" class="form-control" required />
    <input type="password" name="confirmpassword" placeholder="Confirm password" class="form-control" required />
    <input id="loginButton" type="submit" value="Sign Up" />
</form>